/* index.html */
* {
    background-color: beige;
    outline: 2px solid red;
}
 
h1 {
    text-align: center;
    text-decoration: wavy;
    padding-top: 20px;
    font-family: Garamond, 'Times New Roman', serif;
}

.ul-index {
    font-size: 28px;
    font-family: Garamond, 'Times New Roman', sans-serif;
    margin-left: 300px;
    margin-top: 50px;
}

/* Shrimp Page */
.shrimp-img {
    display: block;
     margin-left: auto;
     margin-right: auto;
 }

 /* ravioli page */
 
 .ravioli-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }


 /* ribeye page */
.ribeye-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
} 